.active-truck {
  position: relative;
  left: 0; /* Adjust as needed to align with the first point */
}

.active-point-yellow {
  color: yellow;
}

.active-point-green {
  color: green;
}

.active-point-red {
  color: red;
}

@keyframes moveTruck {
  from {
    left: 0%;
  }
  to {
    left: var(--truck-final-position);
  }
}

.truck-animation {
  animation: moveTruck 2s forwards;
}
