<div class="container mt-4">
  <div class="card shadow-lg rounded">
    <div class="card-header" style="background-color: #3F5267; color: white;">
      <h2>Guía de Salida</h2>
    </div>
    <div class="card-body">
      <button class="btn btn-primary mb-3" data-toggle="modal" style="background-color: rgb(4, 181, 4); margin-right: 10px;" data-target="#createGuiaModal" onmouseover="this.style.backgroundColor='green'" onmouseout="this.style.backgroundColor='rgb(4, 181, 4)'" >Crear Guía de Salida</button>
      <button class="btn btn-warning mb-3" data-toggle="modal" (click)="toggleRadioButtons()">Aprobar Solicitudes de Traspaso</button>

      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered mt-3">
          <thead class="thead-dark">
            <tr>
              <th style="border-color: #343a40;">Número de Traspaso</th>
              <th style="border-color: #343a40;">Número de Guía</th>
              <th style="border-color: #343a40;">Bodega</th>
              <th style="border-color: #343a40;">Concepto</th>
              <th style="border-color: #343a40;">Estado</th>
              <th style="border-color: #343a40;">Fecha</th>
              <th style="border-color: #343a40;">Descripción</th>
              <th style="border-color: #343a40;">Tipo de Transacción</th>
              <th style="border-color: #343a40;">Bodega Destino</th>
              <th style="border-color: #343a40;">Centro de Costo</th>
              <th style="border-color: #343a40;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of guiasSalidas; let i = index" [ngClass]="{'table-secondary': i % 2 === 0, 'table-light': i % 2 !== 0}" style="border-color: lightgray;">
              <td style="border-color: #343a40;">{{ entry.numeroTraspaso }}</td>
              <td style="border-color: #343a40;">
                <a href="#" (click)="openDetailModal(entry)" data-toggle="modal" data-target="#detailGuiaModal">{{ entry.numeroGuia }}</a>
              </td> 
              <td style="border-color: #343a40;">{{ entry.bodega }}</td>
              <td style="border-color: #343a40;">{{ entry.concepto }}</td>
              <td style="border-color: #343a40;">{{ entry.estado }}</td>
              <td style="border-color: #343a40;">{{ entry.fecha }}</td>
              <td style="border-color: #343a40;">{{ entry.descripcion }}</td>
              <td style="border-color: #343a40;">{{ entry.tipoTransaccion }}</td>
              <td style="border-color: #343a40;">{{ entry.bodegaDestino }}</td>
              <td style="border-color: #343a40;">{{ entry.centroCosto }}</td>
              <td style="border-color: #343a40;">
                <div class="d-flex justify-content-between">
                  <div class="d-flex flex-column" *ngIf="!showRadioButtons">
                    <button (click)="removeEntry(i)" class="btn btn-danger btn-sm mb-1">Eliminar</button>
                  </div>
                  <div class="d-flex flex-column" *ngIf="showRadioButtons">
                    <button (click)="aprobarSolicitud(entry.numeroGuia)" class="btn btn-success btn-sm mb-1">Aprobar</button>
                    <button (click)="rechazarSolicitud(entry.numeroGuia)" class="btn btn-danger btn-sm mb-1">Rechazar</button>
                  </div>
                </div> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Creating -->
<div class="modal fade" id="createGuiaModal" tabindex="-1" role="dialog" aria-labelledby="createGuiaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content border-with-title rounded" style="border: 2px solid #3F5267;">
      <div class="modal-header" style="background-color: #3F5267; color: white;">
        <h5 class="modal-title text-center" id="createGuiaModalLabel">Crear Guía de Salida</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
        <form (ngSubmit)="addEntry()" class="form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2 border p-3 rounded">
                <label for="numeroTraspaso">Número de Solicitud de Traspasos</label>
                <select [(ngModel)]="newEntry.numeroTraspaso" class="form-control" id="numeroTraspaso" name="numeroTraspaso" required (change)="selectTraspaso(newEntry.numeroTraspaso)">
                  <option *ngFor="let solicitud of solicitudTraspasos" [value]="solicitud.numeroGuia">{{ solicitud.numeroGuia }}</option>
                </select>
              </div>
              <div class="form-group mb-2 border p-3 rounded">
                <div class="form-group mb-2">
                  <label>Documento Electrónico</label>
                  <div>
                    <label class="radio-inline">
                      <input type="radio" name="documentoElectronico" value="si" disabled> Sí
                      <input type="radio" name="documentoElectronico" value="no" checked disabled> No
                    </label>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <label for="bodega">Bodega</label>
                  <select [(ngModel)]="newEntry.bodega" class="form-control" id="bodega" name="bodega" required>
                    <option *ngFor="let bodega of bodegas" [value]="bodega">{{ bodega }}</option>
                  </select>
                </div>
                <div class="form-group mb-2">
                  <label for="numeroGuia">Número de Guía de Salida</label>
                  <div class="d-flex">
                    <input type="text" [(ngModel)]="newEntry.numeroGuia" class="form-control form-control-sm w-75" id="numeroGuia" name="numeroGuia" required>
                    <button class="btn btn-primary btn-sm ml-2" type="button" disabled>Folios</button>
                  </div>
                </div>
                <div class="form-group mb-2">
                  <label for="concepto">Concepto</label>
                  <input type="text" [(ngModel)]="newEntry.concepto" class="form-control" id="concepto" name="concepto" [disabled]="true" required>
                </div>
                <div class="form-group mb-2 d-flex">
                  <div class="w-50 mr-2">
                    <label for="fecha">Fecha</label>
                    <input type="date" [(ngModel)]="newEntry.fecha" class="form-control form-control-sm" id="fecha" name="fecha" required>
                  </div>
                  <div class="w-50">
                    <label for="tipoTraslado">Tipo de Traslado</label>
                    <input type="text" [(ngModel)]="newEntry.tipoTraslado" class="form-control form-control-sm" id="tipoTraslado" name="tipoTraslado" [disabled]="true" required>
                  </div>
                </div>
                <div class="form-group mb-2 w-50">
                  <label for="estado">Estado</label>
                  <input type="text" [(ngModel)]="newEntry.estado" class="form-control" id="estado" name="estado" [disabled]="true" required>
                </div>
                <div class="form-group mb-2">
                  <label for="tipoTransaccion">Tipo de Transacción</label>
                  <select [(ngModel)]="newEntry.tipoTransaccion" class="form-control form-control-sm w-50" id="tipoTransaccion" name="tipoTransaccion" required>
                    <option *ngFor="let tipo of tiposTransaccion" [value]="tipo">{{ tipo }}</option>
                  </select>
                </div>
                <div class="form-group mb-2">
                  <label for="descripcion">Descripción</label>
                  <textarea [(ngModel)]="newEntry.descripcion" class="form-control" id="descripcion" name="descripcion"></textarea>
                </div>
                
              </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-between">
              <div class="form-group mb-2 border p-2 rounded">
                <label for="bodegaDestino">Bodega Destino</label>
                <select [(ngModel)]="newEntry.bodegaDestino" class="form-control" id="bodegaDestino" name="bodegaDestino" required>
                  <option *ngFor="let bodega of bodegas" [value]="bodega">{{ bodega }}</option>
                </select>
              </div>
              <div class="form-group mb-2 border p-2 rounded mt-auto">
                <label for="centroCosto">Centro de Costo</label>
                <select [(ngModel)]="newEntry.centroCosto" class="form-control" id="centroCosto" name="centroCosto" required>
                  <option *ngFor="let centro of centrosCosto" [value]="centro.cod + ' - ' + centro.des">{{ centro.cod + ' - ' + centro.des }}</option>
                </select>
              </div>
            </div>
          </div>
          
          <div class="form-group mb-2">
            <h2 for="productos">Productos</h2>
            <table class="table table-striped table-hover table-bordered mb-2" style="border-color: #343a40;">
              <thead class="thead-dark" style="border-color: #343a40;">
                <tr>
                  <th style="border-color: #343a40;">Producto</th>
                  <th style="border-color: #343a40;">Cantidad</th>
                  <th style="border-color: #343a40;">Precio Unitario</th>
                  <th style="border-color: #343a40;">Total</th>
                  <th style="border-color: #343a40;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of newEntry.productos; let i = index" [ngClass]="{'table-secondary': i % 2 === 0, 'table-light': i % 2 !== 0}" style="border-color: #343a40;">
                  <td style="border-color: #343a40;">
                    <select [(ngModel)]="product.nombre" class="form-control" name="producto-{{i}}" required>
                      <option *ngFor="let producto of productos" [value]="producto">{{ producto }}</option>
                    </select>
                  </td>
                  <td style="border-color: #343a40;">
                    <input type="number" [(ngModel)]="product.cantidad" class="form-control" placeholder="Cantidad" name="cantidad-{{i}}" required>
                  </td>
                  <td style="border-color: #343a40;">
                    <input type="text" [(ngModel)]="product.precioUnitario" class="form-control" placeholder="Precio Unitario" name="precioUnitario-{{i}}" required>
                  </td>
                  <td style="border-color: #343a40;">
                    <input type="text" [(ngModel)]="product.Total" class="form-control" placeholder="Total" name="Total-{{i}}" required>
                  </td>
                  <td style="border-color: #343a40;">
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeProduct(i)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addProductModal" data-backdrop="static" data-keyboard="false">Agregar Producto desde Modal</button>
          </div>
          <button type="submit" class="btn btn-success mb-2">Agregar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Details -->
<div class="modal fade" id="detailGuiaModal" tabindex="-1" role="dialog" aria-labelledby="detailGuiaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #3F5267;">
        <h5 class="modal-title" id="detailGuiaModalLabel" style="color: white;">Detalles de la Guía de Salida</h5>
        <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Bodega:</strong> {{ selectedEntry?.bodega }}
              </div>
            </div>
            <div class="col-md-4">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Número de Guía:</strong> {{ selectedEntry?.numeroGuia }}
              </div>
            </div>
            <div class="col-md-4">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Concepto:</strong> {{ selectedEntry?.concepto }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Fecha:</strong> {{ selectedEntry?.fecha }}
              </div>
            </div>
            <div class="col-md-4">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Descripción:</strong> {{ selectedEntry?.descripcion }}
              </div>
            </div>
            <div class="col-md-4">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Tipo de Transacción:</strong> {{ selectedEntry?.tipoTransaccion }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Bodega Destino:</strong> {{ selectedEntry?.bodegaDestino }}
              </div>
            </div>
            <div class="col-md-8">
              <div style="border: 1px solid; border-radius: 4px; padding: 5px; margin: 5px 0;">
                <strong>Centro de Costo:</strong> {{ selectedEntry?.centroCosto }}
              </div>
            </div>
          </div>
        </div>
        <br>
        <table class="table table-hover table-striped table-bordered">
          <thead class="thead-" style="background-color: #343a40; color:white;">
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Precio Unitario</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of selectedEntry?.productos">
              <td>{{ product.nombre }}</td>
              <td>{{ product.cantidad }}</td>
              <td>{{ product.precioUnitario }}</td>
              <td>{{ product.Total }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addProductModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Agregar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addProduct()" class="form">
          <div class="form-group mb-2">
            <label for="productoNombre">Nombre del Producto</label>
            <select [(ngModel)]="newProduct.nombre" class="form-control" id="productoNombre" name="productoNombre" required>
              <option *ngFor="let producto of productos" [value]="producto">{{ producto }}</option>
            </select>
          </div>
          <div class="form-group mb-2">
            <label for="productoCantidad">Cantidad</label>
            <input type="number" [(ngModel)]="newProduct.cantidad" (input)="calculateTotal()" class="form-control" id="productoCantidad" name="productoCantidad" required>
          </div>
          <div class="form-group mb-2">
            <label for="productoPrecioUnitario">Precio Unitario</label>
            <input type="text" [(ngModel)]="newProduct.precioUnitario" (input)="calculateTotal()" class="form-control" id="productoPrecioUnitario" name="productoPrecioUnitario" required>
          </div>
          <div class="form-group mb-2">
            <label for="productoTotal">Total</label>
            <input type="text" [value]="newProduct.Total | number:'1.0-0'" class="form-control" id="productoTotal" name="productoTotal" readonly>
          </div>
          <button type="submit" class="btn btn-success mb-2">Agregar Producto</button>
        </form>
      </div>
    </div>
  </div>
</div>
