<div class="container mt-4">
  <div class="card shadow-lg rounded">
    <div class="card-header" style="background-color: #3F5267; color: white;">
      <h2 >Guía de Entrada</h2>
    </div>
    <div class="card-body">
      <button class="btn btn-primary mb-3" data-toggle="modal" style="background-color: rgb(4, 181, 4);" data-target="#createGuiaModal" onmouseover="this.style.backgroundColor='green'" onmouseout="this.style.backgroundColor='rgb(4, 181, 4)'">Crear Guía de Entrada</button>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered mt-3" style="border-color: #343a40;">
          <thead class="thead-dark" style="border-color: #343a40;">
            <tr>
              <th scope="col" style="border-color: #343a40;">Número de Traspaso</th>
              <th scope="col" style="border-color: #343a40;">Número de Guía</th> 
              <th scope="col" style="border-color: #343a40;">Bodega</th>
              <th scope="col" style="border-color: #343a40;">Concepto</th>
              <th scope="col" style="border-color: #343a40;">Fecha</th>
              <th scope="col" style="border-color: #343a40;">Descripción</th>
              <th scope="col" style="border-color: #343a40;">Bodega Destino</th>
              <th scope="col" style="border-color: #343a40;">Centro de Costo</th>
              <th scope="col" style="border-color: #343a40;">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of guiasEntrada; let i = index" [ngClass]="{'table-secondary': i % 2 === 0, 'table-light': i % 2 !== 0}" style="border-color: #343a40;">
              <td style="border-color: #343a40;">{{ entry.numeroTraspaso }}</td>
              <td style="border-color: #343a40;">
                  <a href="#" (click)="openDetailModal(entry)" data-toggle="modal" data-target="#detailGuiaModal">{{ entry.numeroGuia }}</a>
              </td>
              <td style="border-color: #343a40;">{{ entry.bodega }}</td>
              <td style="border-color: #343a40;">{{ entry.concepto }}</td>
              <td style="border-color: #343a40;">{{ entry.fecha }}</td>
              <td style="border-color: #343a40;">{{ entry.descripcion }}</td>
              <td style="border-color: #343a40;">{{ entry.bodegaDestino }}</td>
              <td style="border-color: #343a40;">{{ entry.centroCosto }}</td>
              <td style="border-color: #343a40;">
                <button (click)="removeEntry(i)" class="btn btn-danger btn-sm">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Modal for Creating -->
<div class="modal fade" id="createGuiaModal" tabindex="-1" role="dialog" aria-labelledby="createGuiaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content border-with-title rounded" style="border: 2px solid #3F5267;">
      <div class="modal-header" style="background-color: #3F5267; color: white;">
        <h5 class="modal-title text-center" id="createGuiaModalLabel">Crear Guía de Entrada</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y: auto; max-height: 80vh;">
        <form (ngSubmit)="addEntry()" class="form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-2 border p-3 rounded">
                <label for="numeroTraspaso">Número de Solicitud de Traspasos</label>
                <input type="text" [(ngModel)]="newEntry.numeroTraspaso" class="form-control" id="numeroTraspaso" name="numeroTraspaso" required disabled>
              </div>
              <div class="form-group mb-2">
                <label for="bodega">Bodega</label>
                <select [(ngModel)]="newEntry.bodega" class="form-control" id="bodega" name="bodega" (change)="onBodegaChange()" required>
                  <option *ngFor="let bodega of bodegas" [value]="bodega">{{ bodega }}</option>
                </select>
              </div>
              <div class="form-group mb-2">
                <label for="numeroGuia">Número de Guía de Salida</label>
                <select [(ngModel)]="newEntry.numeroGuia" class="form-control" id="numeroGuia" name="numeroGuia" (change)="onNumeroGuiaChange()" required>
                  <option *ngFor="let guia of filteredGuiasSalida" [value]="guia.numeroGuia">{{ guia.numeroGuia + ' - ' + guia.descripcion }}</option>
                </select>
              </div>
              <div class="form-group mb-2">
                <label for="concepto">Concepto</label>
                <input type="text" [(ngModel)]="newEntry.concepto" class="form-control" id="concepto" name="concepto" [disabled]="true" required>
              </div>
              <div class="form-group mb-2">
                <label for="fecha">Fecha</label>
                <input type="date" [(ngModel)]="newEntry.fecha" class="form-control" id="fecha" name="fecha" required>
              </div>
              <div class="form-group mb-2">
                <label for="tipoTraslado">Tipo de Traslado</label>
                <input type="text" [(ngModel)]="newEntry.tipoTraslado" class="form-control" id="tipoTraslado" name="tipoTraslado" [disabled]="true" required>
              </div>
              <div class="form-group mb-2">
                <label for="estado">Estado</label>
                <input type="text" [(ngModel)]="newEntry.estado" class="form-control" id="estado" name="estado" [disabled]="true" required>
              </div>
              <div class="form-group mb-2">
                <label for="descripcion">Descripción</label>
                <textarea [(ngModel)]="newEntry.descripcion" class="form-control" id="descripcion" name="descripcion"></textarea>
              </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-between">
              <div class="form-group mb-2 border p-2 rounded">
                <label for="bodegaDestino">Bodega Destino</label>
                <select [(ngModel)]="newEntry.bodegaDestino" class="form-control" id="bodegaDestino" name="bodegaDestino" required>
                  <option *ngFor="let bodega of bodegas" [value]="bodega">{{ bodega }}</option>
                </select>
              </div>
              <div class="form-group mb-2 border p-2 rounded mt-auto">
                <label for="centroCosto">Centro de Costo</label>
                <input type="text" [(ngModel)]="newEntry.centroCosto" class="form-control" id="centroCosto" name="centroCosto" required>
              </div>
            </div>
          </div>
          <div class="form-group mb-2">
            
            <h2 for="productos">Productos</h2>
            <table class="table table-hover table-striped table-bordered mb-2" style="border-color: #343a40;">
              <thead class="thead-dark" style="border-color: #343a40;">
                <tr>
                  <th style="border-color: #343a40;">Producto</th>
                  <th style="border-color: #343a40;">Cantidad</th>
                  <th style="border-color: #343a40;">Precio Unitario</th>
                  <th style="border-color: #343a40;">Total</th>
                  <th style="border-color: #343a40;">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of newEntry.productos; let i = index" [ngClass]="{'table-secondary': i % 2 === 0, 'table-light': i % 2 !== 0}" style="border-color: #343a40;">
                  <td style="border-color: #343a40;">
                    {{ product.nombre }}
                  </td>
                  <td style="border-color: #343a40;">
                    <input type="number" [(ngModel)]="product.cantidad" class="form-control" placeholder="Cantidad" name="cantidad-{{i}}" required>
                  </td>
                  <td style="border-color: #343a40;">
                    <input type="text" [(ngModel)]="product.precioUnitario" class="form-control" placeholder="Precio Unitario" name="precioUnitario-{{i}}" required>
                  </td>
                  <td style="border-color: #343a40;">
                    <input type="text" [value]="calculateTotal(+product.cantidad, +product.precioUnitario)" class="form-control" placeholder="Total" name="Total-{{i}}" disabled>
                  </td>
                  <td style="border-color: #343a40;">
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeProduct(i)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#addProductModal">Agregar Producto desde Modal</button>
          </div>
          <div class="d-flex justify-content-start mb-2">
            <button type="submit" class="btn btn-success mr-2">Agregar</button>
            <button *ngIf="compareProducts()" type="button" class="btn btn-warning" data-toggle="modal" data-target="#createDocumentoDiferenciaModal" (click)="crearDocumentoDiferencia()">
              Crear Documento Diferencia
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Details -->
<div class="modal fade" id="detailGuiaModal" tabindex="-1" role="dialog" aria-labelledby="detailGuiaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #3F5267;">
          <h5 class="modal-title" id="detailGuiaModalLabel" style="color: white;">Detalles de la Guía de Salida</h5>
          <button type="button" class="close" style="color: white;" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <p><strong>Bodega:</strong> {{ selectedEntry?.bodega }}</p>
              </div>
              <div class="col-md-4">
                <p><strong>Número de Guía:</strong> {{ selectedEntry?.numeroGuia }}</p>
              </div>
              <div class="col-md-4">
                <p><strong>Concepto:</strong> {{ selectedEntry?.concepto }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><strong>Fecha:</strong> {{ selectedEntry?.fecha }}</p>
              </div>
              <div class="col-md-4">
                <p><strong>Descripción:</strong> {{ selectedEntry?.descripcion }}</p>
              </div>
              <div class="col-md-4">
                <p><strong>Tipo de Transacción:</strong> {{ selectedEntry?.tipoTransaccion }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p><strong>Bodega Destino:</strong> {{ selectedEntry?.bodegaDestino }}</p>
              </div>
              <div class="col-md-8">
                <p><strong>Centro de Costo:</strong> {{ selectedEntry?.centroCosto }}</p>
              </div>
            </div>
          </div>
          <br>
          <table class="table table-hover table-striped table-bordered">
            <thead class="thead-" style="background-color: #343a40 ; color: white;">
              <tr>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of selectedEntry?.productos">
                <td>{{ product.nombre }}</td>
                <td>{{ product.cantidad }}</td>
                <td>{{ product.precioUnitario }}</td>
                <td>{{ product.Total }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>



  
  <!-- Modal for Creating -->
  <div class="modal fade" id="createDocumentoDiferenciaModal" tabindex="-1" role="dialog" aria-labelledby="createDocumentoDiferenciaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content border-with-title rounded">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="createGuiaModalLabel">Crear Documento de Diferencia</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="addDocumentoDiferencia()" class="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-2 border p-3 rounded">
                  <label for="numeroTraspaso">Número de Solicitud de Traspasos</label>
                  <input type="text" [(ngModel)]="newDocumentoDiferencia.numeroTraspaso" class="form-control" id="numeroTraspaso" name="numeroTraspaso" required readonly>
                </div>
                <div class="form-group mb-2 border p-3 rounded">
                  
                  <div class="form-group mb-2">
                    <label for="numeroGuiaSalida">Número de Guía de Salida</label>
                    <div class="d-flex">
                      <input type="text" [(ngModel)]="newDocumentoDiferencia.numeroGuiaSalida" class="form-control form-control-sm w-50" id="numeroGuiaSalida" name="numeroGuiaSalida" required readonly>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label for="numeroGuiaEntrada">Número de Guía de Entrada</label>
                    <div class="d-flex">
                      <input type="text" [(ngModel)]="newDocumentoDiferencia.numeroGuiaEntrada" class="form-control form-control-sm w-50" id="numeroGuiaEntrada" name="numeroGuiaEntrada" required readonly>
                    </div>
                  </div>
                  <div class="form-group mb-2">
                    <label for="motivo">Motivo</label>
                    <select [(ngModel)]="newDocumentoDiferencia.motivo" class="form-control" id="motivo" name="motivo" required>
                      <option value="" disabled selected>Seleccione un motivo</option>
                      <option value="Falta de inventario">Falta de inventario</option>
                      <option value="Error en la documentación">Error en la documentación</option>
                      <option value="Problemas de transporte">Problemas de transporte</option>
                      <option value="Otros">Otros</option>
                    </select>
                  </div>
                  <div class="form-group mb-2 d-flex">
                    <div class="w-50 mr-2">
                      <label for="fecha">Fecha</label>
                      <input type="date" [(ngModel)]="newDocumentoDiferencia.fecha" class="form-control form-control-sm" id="fecha" name="fecha" required>
                    </div>
                  </div>
                
                  <div class="form-group mb-2">
                    <label for="descripcion">Descripción</label>
                    <textarea [(ngModel)]="newDocumentoDiferencia.descripcion" class="form-control" id="descripcion" name="descripcion"></textarea>
                  </div>
                  
                </div>
              </div>
            </div>
            
            <div class="form-group mb-2">
              <label for="productos">Productos</label>
              <table class="table table-bordered mb-2">
                <thead>
                  <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio Unitario</th>
                    <th>Total</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of newDocumentoDiferencia.productos; let i = index">
                    <td>
                      <select [(ngModel)]="product.nombre" class="form-control" name="producto-{{i}}" required>
                        <option *ngFor="let producto of productos" [value]="producto">{{ producto }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" [(ngModel)]="product.cantidad" class="form-control" placeholder="Cantidad" name="cantidad-{{i}}" required>
                    </td>
                    <td>
                      <input type="text" [(ngModel)]="product.precioUnitario" class="form-control" placeholder="Precio Unitario" name="precioUnitario-{{i}}" required>
                    </td>
                    <td>
                      <input type="text" [(ngModel)]="product.Total" class="form-control" placeholder="Total" name="Total-{{i}}" required>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger btn-sm" (click)="removeProduct(i)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button type="submit" class="btn btn-success mb-2">Agregar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
